@import "../../assets/Variables.scss";

main {
	position: relative;
	z-index: 3;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: auto 1fr;
	gap: 64px 96px;
}
.sectionHeader {
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 2px;
	color: hsl(333deg, 100%, 45%);
	margin-bottom: 2rem;
}
.postHeader {
	font-size: 22px;
	font-weight: 700;
	color: hsl(225deg, 15%, 15%);
	margin-bottom: 1.25rem;
	transition: all 0.2s ease-out;
}
.sectionHeaderWorks {
	color: hsl(333deg, 100%, 45%);
	font-size: 1.4rem;
	width: 100%;
	text-align: center;
	margin-bottom: 2rem;
}
.postPreview {
	display: block;
	text-decoration: none;
	color: $text-color-primary;

	&:hover {
		.postHeader {
			color: $color-secondary;
		}
		.readMoreBtn {
			span {
				opacity: 1;
			}
		}
	}

	p {
		font-size: 16px;
	}
	.readMoreBtn {
		display: flex;
		align-items: center;
		padding: 1rem 1rem 1rem 0;
		font-size: 16px;
		font-weight: 600;
		cursor: pointer;
		margin-bottom: 2rem;

		span {
			display: flex;
			align-items: center;
			margin-left: 1rem;
			opacity: 0;
			color: $color-secondary;
			transition: all 0.2s ease-out;
		}
	}
}

.sectionCategories {
	.categories {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 45px;

		.category {
			padding: 5px 15px;
			margin: 5px;
			font-size: 12px;
			text-decoration: none;
			background-color: #c8e4f5;
			border-radius: 10px;
			color: $text-color-primary;
			font-weight: 600;
			transition: all 0.2s ease-out;

			&:hover {
				background-color: #deeef8;
			}
		}
	}
}
.sectionPopular {
	margin-bottom: 3rem;
}
.popularContent {
	list-style: none;

	li {
		margin-bottom: 1rem;
	}
}

.popularPreview {
	text-decoration: none;
	color: $text-color-primary;
	line-height: 1.45;
	font-weight: 600;
}
