.footer {
	background-color: #c8e4f5;
	width: 100vw;
	height: 200px;
}

.footerWrapper {
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: space-between;
	padding: 25px !important;

	.footerLeft {
		height: 100%;
		display: flex;
		flex-direction: column;

		h2 {
			color: hsl(245deg, 100%, 60%);
		}

		p:nth-of-type(1) {
			font-size: 16px;
		}
		p:nth-of-type(2) {
			margin-top: auto;
			font-size: 14px;
			color: #585858;
		}
	}

	.footerRight {
		font-size: 14px;
		height: 100%;
		display: flex;
		align-items: center;

		.links {
			margin-left: 5rem;
			height: 150px;
			p {
				color: #727272;
			}
			ul {
				list-style: none;

				a {
					text-decoration: none;
					color: #585858;
					font-size: 12px;
					font-weight: 600;
				}

				li {
					padding: 5px 0;
				}
			}
		}
	}
}
